body {
  background-color: #777777;
}
body {
  color: #E2E2E2;
  font-family: Arial, Helvetica, sans-serif;
}
img.GameIcon {
  min-width: 200px;
  min-height: 200px;
}

.GameIcon {
  text-align: center;
  padding: 25px;
